body {
	font-family: Calibri;
	text-align: center;
    background-repeat: repeat;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}
ri {
	float: right;
}
ri t {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a {
   display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ri a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #009b00;
}
ri a:hover {
    background-color: #009b00;
}

.loc-image{
	height: 20px;
	position: absolute;
	padding: 0px;
	right: 168px;
}

.location-block{
	text-align: right;
    position: absolute;
    padding: 5px;
    right: 10px;
}

.location{
    color: black;
}

.geo-check{
	text-align: right;
	position: relative;
	right: 1.5%;
}

.login-form{
	margin: 4px 11px;
	text-align: right;
}
.login-box {
	text-align: left;
	width: 300px;
	padding: 20px 0px;
	margin: 0px auto;
	border: 1px solid grey;
}
.login-input{
	width: 260px;
	border:1px solid #ccc;
    padding: 4px 5px;
    margin: 2px 20px 10px;
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
        box-sizing: border-box;
}

.login-label, .login-button{
	display: block;
	margin: 0px 20px;
}

.login-button{
	padding: 2px 10px;
}

.update-shop-box{
	text-align: left;
	width: 500px;
	margin: 0px auto;
	border: 1px solid grey;
} 

.error {
	padding: 5px;
	text-align: center;
	width: 260px;
	margin: 0px auto 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.logo{
	height: 92px;
	margin-bottom: 10px;
	margin-top: 7%;
}

.search{
	width: 85%;
	height: 100%;
}

.search-icon{
	background: url('search.png') no-repeat;
	background-size: 20px;
	width: 	20px;
	height: 20px;
	border: none;
	position: absolute;
	right: 4%;
	top: 5px;
}

.sel{
	position: relative;
	height: 100%;
	height: 31px;
	width: 10%;
}

.search-block{
	position: relative;
	width: 60%;
	height: 25px;
}

.shops{
	margin-bottom: 10px;
	width: 60%;
	margin: 0 20%;
	padding: 0 1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.shop{
	position: relative;
	display: inline-block;
	border: 1px solid lightgray;
	width: 31%;
	height: 250px;
	margin: 0.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.shop-image{
	width: 80%;
}

.crop{
	height: 150px;
	overflow: hidden;
	vertical-align: middle;
	margin: 5%;
}

.shop:hover{
	background-color: white;
	border: solid 1px black;
}

.shop:hover .shop-image{
	visibility: hidden;
}

.shop:hover .info, .shop:hover .link{
	display: block;
}

.info{
	position: absolute;
	top: 10%;
	left: 0;
	padding: 10%;
	display: none;
	color: #000000;
	text-align: left;
}

.link{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5%;
	display: none;
	color: #000000;
	text-align: right;
}
